// This file overrides Blueprint color variable definitions with custom colors
// to use. To find color variable names to change, you can manually inspect
// an element to find the color and then lookup that color value in the
// Blueprint source code to find the associated SASS variable name:
// https://github.com/palantir/blueprint/blob/develop/packages/core/src/common/_colors.scss

$primary1: rgb(13, 100, 74);
$primary2: rgb(21, 150, 111);
$primary3: rgb(16, 202, 146);
$primary4: rgb(0, 255, 177);
$primary5: rgb(68, 241, 189);
$primary6: rgb(89, 241, 196);
$gradient-green: linear-gradient(
  90deg,
  $primary3 22%,
  rgba(0, 255, 211, 1) 74%
);

$light-gray3: rgb(55, 55, 55);

$gray4: rgb(105, 105, 105);

$dark-gray4: rgb(50, 50, 50);
$dark-gray5: rgb(40, 40, 40);

// WOW! What an assignment! Blueprint JS does not want to be customized, so we
// just have to work with the variable names it's already using.
$blue1: $primary1;
$blue2: $primary2;
$blue3: $primary3;
$blue4: $primary4;
$blue5: $primary5;

$green1: $primary1;
$green2: $primary2;
$green3: $primary3;
$green4: $primary4;
$green5: $primary5;

$orange3: #ffdf75;

@import "@blueprintjs/core/src/blueprint.scss";

.course-card {
  box-shadow: 0 1px 2px rgba(25, 25, 25, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.course-card:hover {
  background: rgb(40, 40, 40);
  box-shadow: 0 15px 25px rgba(20, 20, 20, 0.8);
}

.bp3-popover-content {
  color: white !important;
}

.blueprint-toaster {
  z-index: 5000 !important;
}

.bp3-toast-container {
  .bp3-button-text {
    color: rgb(50, 50, 50) !important;
  }
}

// Overwrite blueprint Callout icon color for intent="none". It had a blue-ish hue before
.bp3-callout.bp3-callout-icon > .bp3-icon:first-child {
  color: dimgray;
}

// Override Blueprint warning intent styles
.bp3-intent-warning {
  color: rgb(50, 50, 50) !important;
  background-color: #ffdf75 !important;

  .bp3-icon {
    color: transparent;
    background: transparent;

    svg {
      fill: rgb(50, 50, 50) !important;
    }
  }
}
