*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* NOTE: This looks quite bad on non-retina displays. It makes the text overly light and hard to read */
  /* -webkit-font-smoothing: antialiased; */
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;

  background: #13141d;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .pairwise {
    display: none;
  }
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* We are decidedly not a mobile site */
#root {
  min-width: 820px;
}

/* SSO button override styles */
.sso-button {
  padding-top: 2px !important;
  font-weight: 300 !important;
  font-size: 15px !important;
}

/* Custom editor styles for JSX elements:
 *
 * TODO: Improve styling to create a better theme.
 */

.JsxText {
  color: #5c6773;
}

.JsxSelfClosingElement,
.JsxOpeningElement,
.JsxClosingElement,
.tagName-of-JsxOpeningElement,
.tagName-of-JsxClosingElement,
.tagName-of-JsxSelfClosingElement {
  color: #f49255 !important;
}

.name-of-JsxAttribute {
  color: #f4cf56 !important;
}

.name-of-PropertyAssignment {
  color: #4a63ed !important;
}

.name-of-MethodDeclaration,
.name-of-PropertyDeclaration {
  color: #5ccfe6 !important;
}

/* customized for hc-black theme */
.JsxSelfClosingElement.highContrast,
.JsxOpeningElement.highContrast,
.JsxClosingElement.highContrast,
.tagName-of-JsxOpeningElement.highContrast,
.tagName-of-JsxClosingElement.highContrast,
.tagName-of-JsxSelfClosingElement.highContrast {
  color: #f38517 !important;
}

.name-of-MethodDeclaration.highContrast,
.name-of-PropertyDeclaration.highContrast {
  color: #66e6ff !important;
}

/*
 * Style all customized elements black when
 * selected by end user in high-contrast mode
 */
.JsxText.highContrast.inline-selected-text,
.JsxSelfClosingElement.highContrast.inline-selected-text,
.JsxOpeningElement.highContrast.inline-selected-text,
.JsxClosingElement.highContrast.inline-selected-text,
.tagName-of-JsxOpeningElement.highContrast.inline-selected-text,
.tagName-of-JsxClosingElement.highContrast.inline-selected-text,
.tagName-of-JsxSelfClosingElement.highContrast.inline-selected-text,
.name-of-JsxAttribute.highContrast.inline-selected-text,
.name-of-PropertyAssignment.highContrast.inline-selected-text,
.name-of-MethodDeclaration.highContrast.inline-selected-text,
.name-of-PropertyDeclaration.highContrast.inline-selected-text {
  color: #000000 !important;
}

/*
 * Set z-index on sortable list item so it does not appear invisible when
 * dragged.
 */
.sortable-list-helper-class {
  z-index: 9999;
}
