*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  /* NOTE: This looks quite bad on non-retina displays. It makes the text overly light and hard to read */
  /* -webkit-font-smoothing: antialiased; */
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;

  background: #13141d;
  overflow-x: hidden;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* We are decidedly not a mobile site */
#root {
  min-width: 820px;
}

.social-media-login-button {
  margin-top: 12px;
  border: none;
  padding: 0;
  width: 235px;
  height: 43px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  text-align: center;
}

.google-social-login span {
  font-weight: 500px;
  font-size: 14px;
  padding: 0;
  color: black;
  text-align: center;
}

.social-media-login-button:focus {
  outline: none;
}

.social-media-login-button:hover {
  cursor: pointer;
}

.facebook-social-login {
  color: white;
  text-align: left;
  background: rgb(63, 89, 161);
}

.facebook-social-login i {
  font-size: 22px;
  margin-left: 18px;
  margin-right: 16px;
}

.facebook-social-login:hover {
  color: white;
  background: rgb(62, 103, 216);
}

.github-social-login {
  color: white;
  background: rgb(51, 51, 51);
}

.github-social-login:hover {
  color: white;
  background: rgb(54, 54, 54);
}

.google-social-login {
  padding-left: 4px !important;
}

.google-social-login div {
  margin-right: 6px !important;
}

.google-social-login span {
  font-weight: 500px !important;
}

/* Custom editor styles for JSX elements:
 *
 * TODO: Improve styling to create a better theme.
 */

.JsxText {
  color: #5c6773;
}

.JsxSelfClosingElement,
.JsxOpeningElement,
.JsxClosingElement,
.tagName-of-JsxOpeningElement,
.tagName-of-JsxClosingElement,
.tagName-of-JsxSelfClosingElement {
  color: #f49255 !important;
}

.name-of-JsxAttribute {
  color: #f4cf56 !important;
}

.name-of-PropertyAssignment {
  color: #4a63ed !important;
}

.name-of-MethodDeclaration,
.name-of-PropertyDeclaration {
  color: #5ccfe6 !important;
}
