*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 16px;
  background: #1e1e1e;
}

code,
pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* SSO button override styles */
.sso-button {
  padding-top: 2px !important;
  font-weight: 300 !important;
  font-size: 15px !important;
}

/*
 * Set z-index on sortable list item so it does not appear invisible when
 * dragged.
 */
.sortable-list-helper-class {
  z-index: 9999;
}
